{
    "swagger": "2.0",
    "info": {
        "title": "Operations and monitoring API",
        "description": "This is the API for operating the component",
        "version": "0.0.1"
    },
    "host": "krueger.axiom.zalan.do",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/metrics": {
            "get": {
                "summary": "Returns the collected metrics for the components endpoints.",
                "responses": {
                    "200": {
                        "description": "Metrics",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/metrics/statusCodes": {
            "get": {
                "summary": "Returns histograms for the distribution of status codes per endpoint.",
                "responses": {
                    "200": {
                        "description": "Metrics",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/metrics/vertx": {
            "get": {
                "summary": "Returns the collected metrics for vertx.",
                "responses": {
                    "200": {
                        "description": "Metrics",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/metrics/eventBus": {
            "get": {
                "summary": "Returns the collected metrics for the vertx event bus.",
                "responses": {
                    "200": {
                        "description": "Metrics",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/env": {
            "get": {
                "summary": "Returns the environment variables",
                "responses": {
                    "200": {
                        "description": "Environment variables",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/properties": {
            "get": {
                "summary": "Returns the system properties",
                "responses": {
                    "200": {
                        "description": "System properties",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        }
    }
}